<div class="container">
    <h1>Contacto</h1>
    <p>Si quieres dejar algun comentario, sugerencia o mensaje, completa el formulario a continuacion</p>
    <form action="" method="post">
        <div class="form-group">
            <label for="name">Nombre y Apellido:</label>
            <input
            type="text"
            id="name"
            name="NombreYApellido"
            required
            />
        </div>
        <div class="form-group">
            <label for="email">e-mail:</label>
            <input
            type="email"
            id="email"
            name="email"
            required
            />
        </div>
        <div class="form-group">
            <label for="mensaje">Mensaje:</label>
            <textarea name="mensaje" id="mensaje" rows="4" ></textarea>
        </div>
        <div class="buttons">
          <button type="button" class="button cancelar" onclick="window.location.href='/api/heroes'">Cancelar</button>
          <button type="submit" class="button">Enviar</button>
      </div>
    </form>
</div>