<div class="container">
    <h1>Bienvenid@ al mundo de los Superhéroes</h1>
    <p>Explorá su universo, conocé sus poderes y descubrí sus historias.</p>
    <a href="/api/heroes" class="btn">Ver lista de superhéroes</a>
</div>